<footer class="footer">
	<div class="container">
		<div class="d-flex">
			<p class="mb-0">&copy; 2021  by Devid Septian</p>
			<ul class="social-icons light list-inline mb-0 mt-0">
				<li class="list-inline-item"><a href="https://www.linkedin.com/in/devid-septian-9a08ab102/"><i class="icon-linkedin"></i></a></li>
				<li class="list-inline-item"><a href="https://twitter.com/devid_septian87"><i class="icon-twitter"></i></a></li>
				<li class="list-inline-item"><a href="https://www.instagram.com/devidseptian87/"><i class="icon-instagram"></i></a></li>
			</ul>
		</div>
	</div>
</footer>