
$img-list: "../images/check_list.svg";
$logo-bg: "../images/logo-background.svg";
$dot-bg: "../images/dots-bg.svg";

$white: #ffffff;
$black: #000000;
$grey: #D4CFCF;
$bg-body: #F9F9FF;
$bg-blue: #F6F8FF;
$bg-blue-dark: #13265E;
$bg-blue-dark-01: #0E1E4F;
$border-input: #3452AB;
$header-bg: #353353;
$footer-bg: #03123F;
$yellow: rgb(249, 215, 76);
$text-color: #5E5C7F;
$title-color: #454360;
$purple: rgba(108, 108, 229, 0.9);


$shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
$shadow-blue: 0px 5px 20px 0px rgba(108, 108, 229, 0.5);
$shadow-yellow: 0px 5px 20px 0px rgba(249, 215, 76, 0.5);
$shadow-pink: 0px 5px 20px 0px rgba(249, 123, 139, 0.5);